node-red.json
[
  {
    "id": "mqtt-broker-hivemq",
    "type": "mqtt-broker",
    "broker": "b1c8f2cc5cd4416fb74b671a407dc0ff.s1.eu.hivemq.cloud",
    "port": "8883",
    "clientid": "nodered-smartfarm-001",
    "autoConnect": true,
    "usetls": true,
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "username": "hivemq.webclient.1775674471408",
    "password": "s32qFe>*8Jld<MY5?XEm",
    "tls": "",
    "subscribecopts": ""
  },
  {
    "id": "tab-dashboard",
    "type": "ui_tab",
    "name": "Giám sát",
    "icon": "dashboard",
    "order": 0,
    "disabled": false,
    "hidden": false,
    "info": ""
  },
  {
    "id": "tab-control",
    "type": "ui_tab",
    "name": "Điều khiển",
    "icon": "settings",
    "order": 1,
    "disabled": false,
    "hidden": false,
    "info": ""
  },
  {
    "id": "link-hivemq-console",
    "type": "ui_link",
    "name": "HiveMQ Cloud",
    "link": "https://console.hivemq.cloud/",
    "icon": "cloud",
    "target": "newtab",
    "order": 10,
    "className": ""
  },
  {
    "id": "link-hivemq-docs",
    "type": "ui_link",
    "name": "Tài liệu HiveMQ",
    "link": "https://docs.hivemq.com/hivemq-cloud/",
    "icon": "book",
    "target": "newtab",
    "order": 11,
    "className": ""
  },
  {
    "id": "link-mqtt-ws",
    "type": "ui_link",
    "name": "Web Client MQTT",
    "link": "https://www.hivemq.com/demos/websocket-client/",
    "icon": "open_in_browser",
    "target": "newtab",
    "order": 12,
    "className": ""
  },
  {
    "id": "group-env",
    "type": "ui_group",
    "z": "tab-dashboard",
    "name": "Môi trường (Nhiệt + Ẩm KK)",
    "tab": "tab-dashboard",
    "order": 1,
    "width": "12",
    "disp": true,
    "collapse": false
  },
  {
    "id": "group-soil",
    "type": "ui_group",
    "z": "tab-dashboard",
    "name": "Độ ẩm đất",
    "tab": "tab-dashboard",
    "order": 2,
    "width": "6",
    "disp": true,
    "collapse": false
  },
  {
    "id": "group-light",
    "type": "ui_group",
    "z": "tab-dashboard",
    "name": "Ánh sáng",
    "tab": "tab-dashboard",
    "order": 3,
    "width": "6",
    "disp": true,
    "collapse": false
  },
  {
    "id": "group-status",
    "type": "ui_group",
    "z": "tab-dashboard",
    "name": "Trạng thái thiết bị",
    "tab": "tab-dashboard",
    "order": 4,
    "width": "12",
    "disp": true,
    "collapse": false
  },
  {
    "id": "group-alerts",
    "type": "ui_group",
    "z": "tab-dashboard",
    "name": "Cảnh báo",
    "tab": "tab-dashboard",
    "order": 5,
    "width": "6",
    "disp": true,
    "collapse": false
  },
  {
    "id": "control-group",
    "type": "ui_group",
    "z": "tab-control",
    "name": "Điều khiển thiết bị",
    "tab": "tab-control",
    "order": 1,
    "width": "12",
    "disp": true,
    "collapse": false
  },
  {
    "id": "mqtt-env-in",
    "type": "mqtt in",
    "z": "tab-dashboard",
    "name": "MQTT Nhiệt - Ẩm KK",
    "topic": "iot/farm/env",
    "broker": "mqtt-broker-hivemq",
    "output": "parsed",
    "qos": "0",
    "datatype": "json",
    "x": 80,
    "y": 100,
    "wires": [
      [
        "fnc-validate",
        "fnc-env-normalize"
      ]
    ]
  },
  {
    "id": "mqtt-soil-in",
    "type": "mqtt in",
    "z": "tab-dashboard",
    "name": "MQTT Độ ẩm đất",
    "topic": "iot/farm/soil",
    "broker": "mqtt-broker-hivemq",
    "output": "parsed",
    "qos": "0",
    "datatype": "json",
    "x": 80,
    "y": 240,
    "wires": [
      [
        "fnc-validate",
        "fnc-soil-normalize"
      ]
    ]
  },
  {
    "id": "mqtt-light-in",
    "type": "mqtt in",
    "z": "tab-dashboard",
    "name": "MQTT Ánh sáng",
    "topic": "iot/farm/light",
    "broker": "mqtt-broker-hivemq",
    "output": "parsed",
    "qos": "0",
    "datatype": "json",
    "x": 80,
    "y": 380,
    "wires": [
      [
        "fnc-validate",
        "fnc-light-normalize"
      ]
    ]
  },
  {
    "id": "mqtt-status-in",
    "type": "mqtt in",
    "z": "tab-dashboard",
    "name": "MQTT Trạng thái",
    "topic": "iot/farm/status",
    "broker": "mqtt-broker-hivemq",
    "output": "parsed",
    "qos": "0",
    "datatype": "json",
    "x": 80,
    "y": 520,
    "wires": [
      [
        "fnc-validate",
        "fnc-status-parse",
        "link-out-sync-status"
      ]
    ]
  },
  {
    "id": "link-out-sync-status",
    "type": "link out",
    "z": "tab-dashboard",
    "name": "→ Đồng bộ Điều khiển",
    "mode": "link",
    "links": [
      "link-in-sync-status"
    ],
    "x": 280,
    "y": 540,
    "wires": []
  },
  {
    "id": "mqtt-alert-in",
    "type": "mqtt in",
    "z": "tab-dashboard",
    "name": "MQTT Cảnh báo",
    "topic": "iot/farm/alert",
    "broker": "mqtt-broker-hivemq",
    "output": "parsed",
    "qos": "0",
    "datatype": "json",
    "x": 80,
    "y": 660,
    "wires": [
      [
        "fnc-alert-process"
      ]
    ]
  },
  {
    "id": "fnc-validate",
    "type": "function",
    "z": "tab-dashboard",
    "name": "Validate & Tag",
    "func": "// Kiểm tra payload rỗng hoặc không phải object\nif (!msg.payload || typeof msg.payload !== 'object') {\n    node.warn('Dữ liệu không hợp lệ — bỏ qua: ' + JSON.stringify(msg.payload));\n    return null;\n}\n\n// Gán metadata\nmsg.deviceId = msg.payload.device || 'unknown';\nmsg.timestamp = msg.payload.timestamp || Date.now();\nmsg.topic = msg._topic;\n\n// Đánh dấu thời gian đến (ms)\nmsg.arrivalMs = Date.now();\n\n// Thêm vào flow context để merge\nvar key = msg.topic.split('/').pop(); // env | soil | light | status\nflow.set('last_' + key, msg.payload);\nflow.set('last_' + key + '_ts', msg.arrivalMs);\n\nreturn msg;",
    "outputs": 1,
    "x": 300,
    "y": 80,
    "wires": [
      [
        "fnc-threshold-check"
      ]
    ]
  },
  {
    "id": "fnc-threshold-check",
    "type": "function",
    "z": "tab-dashboard",
    "name": "Kiểm tra ngưỡng",
    "func": "var p = msg.payload;\nvar warnings = [];\nvar alerts = [];\n\n// --- Nhiệt độ (env) ---\nif (p.temperature !== undefined) {\n    if (p.temperature > 38) {\n        alerts.push('Nhiệt độ QUÁ CAO: ' + p.temperature + '°C');\n    } else if (p.temperature > 35) {\n        warnings.push('Nhiệt độ cao: ' + p.temperature + '°C');\n    } else if (p.temperature < 10) {\n        warnings.push('Nhiệt độ THẤP: ' + p.temperature + '°C');\n    }\n}\n\n// --- Độ ẩm không khí (env) ---\nif (p.humidity !== undefined) {\n    if (p.humidity > 90) {\n        alerts.push('Độ ẩm KK QUÁ CAO: ' + p.humidity + '%');\n    } else if (p.humidity > 80) {\n        warnings.push('Độ ẩm KK cao: ' + p.humidity + '%');\n    } else if (p.humidity < 30) {\n        alerts.push('Độ ẩm KK THẤP: ' + p.humidity + '%');\n    }\n}\n\n// --- Độ ẩm đất (soil) ---\nif (p.moisture !== undefined) {\n    if (p.moisture < 20) {\n        alerts.push('Đất KHÔ hại: ' + p.moisture + '%');\n    } else if (p.moisture < 30) {\n        warnings.push('Đất khô cần tưới: ' + p.moisture + '%');\n    } else if (p.moisture > 80) {\n        warnings.push('Đất ÚNG nước: ' + p.moisture + '%');\n    }\n}\n\n// --- Ánh sáng (light) ---\nif (p.intensity !== undefined) {\n    if (p.intensity < 10) {\n        warnings.push('Ánh sáng yếu: ' + p.intensity + '%');\n    }\n}\n\n// Gắn cờ cảnh báo vào msg\nmsg.warnings = warnings;\nmsg.alerts = alerts;\nmsg.hasWarning = warnings.length > 0;\nmsg.hasAlert = alerts.length > 0;\n\n// Gửi cảnh báo → toast\nif (alerts.length > 0) {\n    var alertMsg = {\n        payload: {\n            topic: 'ALERT',\n            text: alerts.join(' | '),\n            type: 'error',\n            timeout: 15000\n        }\n    };\n    node.send([null, alertMsg]);\n}\n\nif (warnings.length > 0) {\n    var warnMsg = {\n        payload: {\n            topic: 'WARN',\n            text: warnings.join(' | '),\n            type: 'warning',\n            timeout: 8000\n        }\n    };\n    node.send([null, null, warnMsg]);\n}\n\nreturn msg;",
    "outputs": 3,
    "outputLabels": [
      "data_ok",
      "alert",
      "warning"
    ],
    "x": 500,
    "y": 80,
    "wires": [
      [
        "fnc-merge"
      ],
      [
        "ui-toast-alert"
      ],
      [
        "ui-toast-warn"
      ]
    ]
  },
  {
    "id": "fnc-merge",
    "type": "function",
    "z": "tab-dashboard",
    "name": "Merge 4 sensor → chart",
    "func": "// Gom 4 sensor gần nhất thành 1 payload\nvar env  = flow.get('last_env')   || {};\nvar soil = flow.get('last_soil')  || {};\nvar light = flow.get('last_light') || {};\nvar status = flow.get('last_status') || {};\n\nvar now = Date.now();\n\nvar merged = {\n    ts: now,\n    temp:     env.temperature   !== undefined ? env.temperature  : null,\n    humidity: env.humidity      !== undefined ? env.humidity     : null,\n    soil:     soil.moisture    !== undefined ? soil.moisture   : null,\n    light:    light.intensity  !== undefined ? light.intensity  : null,\n    pump:     status.pump       !== undefined ? status.pump      : null,\n    fan:      status.fan        !== undefined ? status.fan       : null,\n    mode:     status.mode       || 'unknown'\n};\n\n// Gửi riêng từng msg cho chart\nvar out = [];\n\nif (merged.temp !== null) {\n    out.push({ payload: merged.temp, topic: 'temp', deviceId: env.device, ts: now });\n}\nif (merged.humidity !== null) {\n    out.push({ payload: merged.humidity, topic: 'humidity', deviceId: env.device, ts: now });\n}\nif (merged.soil !== null) {\n    out.push({ payload: merged.soil, topic: 'soil', deviceId: env.device, ts: now });\n}\nif (merged.light !== null) {\n    out.push({ payload: merged.light, topic: 'light', deviceId: env.device, ts: now });\n}\n\nreturn [out, { payload: merged }];",
    "outputs": 2,
    "outputLabels": [
      "charts",
      "merged_status"
    ],
    "x": 700,
    "y": 80,
    "wires": [
      [
        "chart-temp",
        "chart-hum",
        "chart-soil",
        "chart-light"
      ],
      [
        "fnc-status-ui"
      ]
    ]
  },
  {
    "id": "fnc-env-normalize",
    "type": "function",
    "z": "tab-dashboard",
    "name": "Normalize env",
    "func": "var p = msg.payload;\n// Giới hạn giá trị hợp lý\nvar temp = parseFloat(p.temperature);\nvar hum  = parseFloat(p.humidity);\n\nif (isNaN(temp) || temp < -10 || temp > 80) {\n    node.warn('Nhiệt độ không hợp lệ: ' + temp); return null;\n}\nif (isNaN(hum) || hum < 0 || hum > 100) {\n    node.warn('Độ ẩm không hợp lệ: ' + hum); return null;\n}\n\nmsg.payload = {\n    temperature: Math.round(temp * 10) / 10,\n    humidity:    Math.round(hum  * 10) / 10,\n    device:      p.device || 'unknown',\n    timestamp:   p.timestamp || Date.now()\n};\n\n// Gửi 2 msg: temp → gauge/chart, hum → gauge/chart\nreturn [\n    { payload: msg.payload.temperature, topic: 'temperature', deviceId: msg.payload.device, ts: msg.payload.timestamp },\n    { payload: msg.payload.humidity,    topic: 'humidity',    deviceId: msg.payload.device, ts: msg.payload.timestamp }\n];",
    "outputs": 2,
    "outputLabels": [
      "temp",
      "humidity"
    ],
    "x": 300,
    "y": 160,
    "wires": [
      [
        "gauge-temp"
      ],
      [
        "gauge-hum"
      ]
    ]
  },
  {
    "id": "fnc-soil-normalize",
    "type": "function",
    "z": "tab-dashboard",
    "name": "Normalize soil",
    "func": "var p = msg.payload;\nvar moisture = parseFloat(p.moisture);\n\nif (isNaN(moisture) || moisture < 0 || moisture > 100) {\n    node.warn('Độ ẩm đất không hợp lệ: ' + moisture); return null;\n}\n\nmsg.payload = {\n    moisture: Math.round(moisture * 10) / 10,\n    device:   p.device || 'unknown',\n    timestamp: p.timestamp || Date.now()\n};\n\nreturn { payload: msg.payload.moisture, topic: 'moisture', deviceId: msg.payload.device, ts: msg.payload.timestamp };",
    "outputs": 1,
    "x": 300,
    "y": 300,
    "wires": [
      [
        "gauge-soil"
      ]
    ]
  },
  {
    "id": "fnc-light-normalize",
    "type": "function",
    "z": "tab-dashboard",
    "name": "Normalize light",
    "func": "var p = msg.payload;\nvar intensity = parseFloat(p.intensity);\n\nif (isNaN(intensity) || intensity < 0 || intensity > 100) {\n    node.warn('Ánh sáng không hợp lệ: ' + intensity); return null;\n}\n\nmsg.payload = {\n    intensity: Math.round(intensity * 10) / 10,\n    device:     p.device || 'unknown',\n    timestamp:  p.timestamp || Date.now()\n};\n\nreturn { payload: msg.payload.intensity, topic: 'light', deviceId: msg.payload.device, ts: msg.payload.timestamp };",
    "outputs": 1,
    "x": 300,
    "y": 440,
    "wires": [
      [
        "gauge-light"
      ]
    ]
  },
  {
    "id": "fnc-status-parse",
    "type": "function",
    "z": "tab-dashboard",
    "name": "Parse status",
    "func": "var p = msg.payload;\n\n// Lưu trạng thái device ra context để dùng chung\nflow.set('dev_pump',   !!p.pump);\nflow.set('dev_fan',    !!p.fan);\nflow.set('dev_mode',   p.mode || 'unknown');\nflow.set('dev_rssi',   p.rssi);\nflow.set('dev_uptime', p.uptime);\n\nreturn {\n    payload: {\n        pump:   !!p.pump,\n        fan:    !!p.fan,\n        mode:   p.mode  || 'unknown',\n        rssi:   p.rssi  || 0,\n        uptime: p.uptime || 0,\n        device: p.device || 'unknown'\n    }\n};",
    "outputs": 1,
    "x": 300,
    "y": 580,
    "wires": [
      [
        "fnc-status-ui"
      ]
    ]
  },
  {
    "id": "fnc-status-ui",
    "type": "function",
    "z": "tab-dashboard",
    "name": "Build status UI",
    "func": "var p = msg.payload;\n\n// pump indicator\nvar pumpLabel = p.pump ? 'ON' : 'OFF';\nvar pumpColor = p.pump ? '#00b050' : '#999';\n\n// fan indicator  \nvar fanLabel = p.fan ? 'ON' : 'OFF';\nvar fanColor = p.fan ? '#00b050' : '#999';\n\n// mode\nvar modeText = (p.mode || 'unknown').toString();\n\n// rssi → mức wifi\nvar rssi = p.rssi || 0;\nvar rssiLevel = rssi > -50 ? 'Tốt' : rssi > -70 ? 'Khá' : 'Yếu';\n\nreturn [\n    {\n        payload: pumpLabel,\n        topic: 'pump_on_off',\n        color: pumpColor\n    },\n    {\n        payload: fanLabel,\n        topic: 'fan_on_off',\n        color: fanColor\n    },\n    {\n        payload: modeText,\n        topic: 'mode'\n    },\n    {\n        payload: rssi + ' dBm (' + rssiLevel + ')',\n        topic: 'rssi'\n    }\n];",
    "outputs": 4,
    "outputLabels": [
      "pump",
      "fan",
      "mode",
      "rssi"
    ],
    "x": 900,
    "y": 580,
    "wires": [
      [
        "ui-pump"
      ],
      [
        "ui-fan"
      ],
      [
        "ui-mode"
      ],
      [
        "ui-rssi"
      ]
    ]
  },
  {
    "id": "fnc-alert-process",
    "type": "function",
    "z": "tab-dashboard",
    "name": "Process alert payload",
    "func": "var p = msg.payload;\n\n// ESP32 gửi: { reasons: [...], buzzer: true/false }\nvar reasons = p.reasons || [];\nvar buzzer  = p.buzzer;\n\nvar text = reasons.length > 0\n    ? 'CẢNH BÁO: ' + reasons.join(' | ')\n    : 'Cảnh báo không xác định';\n\nreturn {\n    payload: {\n        topic: 'ALERT',\n        text: text,\n        type: buzzer ? 'error' : 'warning',\n        timeout: 15000\n    }\n};",
    "outputs": 1,
    "x": 300,
    "y": 720,
    "wires": [
      [
        "ui-toast-alert"
      ]
    ]
  },
  {
    "id": "link-in-sync-status",
    "type": "link in",
    "z": "tab-control",
    "name": "← Trạng thái MQTT",
    "links": [
      "link-out-sync-status"
    ],
    "x": 40,
    "y": 140,
    "wires": [
      [
        "fnc-sync-ui-from-status"
      ]
    ]
  },
  {
    "id": "fnc-sync-ui-from-status",
    "type": "function",
    "z": "tab-control",
    "name": "Đồng bộ công tắc ← ESP32",
    "func": "// Đồng bộ giao diện với payload iot/farm/status (pump, fan, mode)\nvar p = msg.payload;\nif (!p || typeof p !== 'object') {\n    return [null, null, null];\n}\n\nvar modeStr = (p.mode || 'manual').toString().toLowerCase();\nvar isAuto = (modeStr === 'auto');\n\nflow.set('dev_pump', !!p.pump);\nflow.set('dev_fan', !!p.fan);\nflow.set('dev_mode', isAuto ? 'auto' : 'manual');\n\n// payload boolean + topic khớp ui_switch — cập nhật vị trí công tắc, passthru:false không gửi lại MQTT\nreturn [\n    { payload: isAuto, topic: 'mode' },\n    { payload: !!p.pump, topic: 'pump' },\n    { payload: !!p.fan, topic: 'fan' }\n];",
    "outputs": 3,
    "outputLabels": [
      "mode",
      "pump",
      "fan"
    ],
    "x": 260,
    "y": 140,
    "wires": [
      [
        "ui-mode-switch"
      ],
      [
        "ui-pump-switch"
      ],
      [
        "ui-fan-switch"
      ]
    ]
  },
  {
    "id": "fnc-control-logic",
    "type": "function",
    "z": "tab-control",
    "name": "Control Logic (AUTO/MANUAL)",
    "func": "// Gửi JSON đúng format ESP32: main.cpp đọc key mode, pump, fan, buzzer (không dùng cmd)\nfunction asBool(v) {\n    return v === true || v === 1 || v === '1' || v === 'true';\n}\n\nvar topic = msg.topic || '';\nvar payload = msg.payload;\n\nif (topic === 'mode') {\n    var newMode = asBool(payload) ? 'auto' : 'manual';\n    flow.set('dev_mode', newMode);\n    node.log('Chế độ: ' + newMode);\n    return { payload: { mode: newMode } };\n}\n\nif (topic === 'pump') {\n    var on = asBool(payload);\n    flow.set('dev_pump', on);\n    return { payload: { pump: on } };\n}\n\nif (topic === 'fan') {\n    var fon = asBool(payload);\n    flow.set('dev_fan', fon);\n    return { payload: { fan: fon } };\n}\n\nif (topic === 'buzzer') {\n    return { payload: { buzzer: asBool(payload) } };\n}\n\nnode.warn('Control: topic không xử lý được: ' + topic);\nreturn null;",
    "outputs": 1,
    "x": 300,
    "y": 220,
    "wires": [
      [
        "mqtt-control-out"
      ]
    ]
  },
  {
    "id": "ui-toast-alert",
    "type": "ui_toast",
    "z": "tab-dashboard",
    "name": "Toast Cảnh báo",
    "group": "group-alerts",
    "order": 1,
    "position": "top right",
    "displayTime": "15",
    "text": "{{payload.text}}",
    "x": 720,
    "y": 160,
    "wires": []
  },
  {
    "id": "ui-toast-warn",
    "type": "ui_toast",
    "z": "tab-dashboard",
    "name": "Toast Cảnh báo nhẹ",
    "group": "group-alerts",
    "order": 2,
    "position": "top right",
    "displayTime": "8",
    "text": "{{payload.text}}",
    "x": 720,
    "y": 200,
    "wires": []
  },
  {
    "id": "gauge-temp",
    "type": "ui_gauge",
    "z": "tab-dashboard",
    "name": "Nhiệt độ",
    "group": "group-env",
    "order": 1,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Nhiệt độ (°C)",
    "label": "C",
    "unit": "",
    "min": "0",
    "max": "50",
    "colors": [
      "#3b78e7",
      "#ff9900",
      "#ca3838"
    ],
    "x": 520,
    "y": 160,
    "wires": []
  },
  {
    "id": "gauge-hum",
    "type": "ui_gauge",
    "z": "tab-dashboard",
    "name": "Độ ẩm không khí",
    "group": "group-env",
    "order": 2,
    "width": 4,
    "height": 4,
    "gtype": "donut",
    "title": "Độ ẩm KK (%)",
    "label": "%",
    "unit": "",
    "min": "0",
    "max": "100",
    "colors": [
      "#00b050",
      "#ff9900",
      "#ca3838"
    ],
    "x": 760,
    "y": 160,
    "wires": []
  },
  {
    "id": "chart-temp",
    "type": "ui_chart",
    "z": "tab-dashboard",
    "name": "Chart Nhiệt độ",
    "group": "group-env",
    "order": 3,
    "width": 6,
    "height": 4,
    "chartType": "line",
    "ymin": "0",
    "ymax": "50",
    "x": 1000,
    "y": 160,
    "wires": []
  },
  {
    "id": "chart-hum",
    "type": "ui_chart",
    "z": "tab-dashboard",
    "name": "Chart Độ ẩm KK",
    "group": "group-env",
    "order": 4,
    "width": 6,
    "height": 4,
    "chartType": "line",
    "ymin": "0",
    "ymax": "100",
    "x": 1200,
    "y": 160,
    "wires": []
  },
  {
    "id": "gauge-soil",
    "type": "ui_gauge",
    "z": "tab-dashboard",
    "name": "Độ ẩm đất",
    "group": "group-soil",
    "order": 1,
    "width": 5,
    "height": 4,
    "gtype": "donut",
    "title": "Độ ẩm đất (%)",
    "label": "%",
    "unit": "",
    "min": "0",
    "max": "100",
    "colors": [
      "#ca3838",
      "#ff9900",
      "#00b050"
    ],
    "x": 520,
    "y": 300,
    "wires": []
  },
  {
    "id": "chart-soil",
    "type": "ui_chart",
    "z": "tab-dashboard",
    "name": "Chart Độ ẩm đất",
    "group": "group-soil",
    "order": 2,
    "width": 7,
    "height": 4,
    "chartType": "line",
    "ymin": "0",
    "ymax": "100",
    "x": 820,
    "y": 300,
    "wires": []
  },
  {
    "id": "gauge-light",
    "type": "ui_gauge",
    "z": "tab-dashboard",
    "name": "Ánh sáng",
    "group": "group-light",
    "order": 1,
    "width": 5,
    "height": 4,
    "gtype": "gage",
    "title": "Ánh sáng (%)",
    "label": "%",
    "unit": "",
    "min": "0",
    "max": "100",
    "colors": [
      "#ffff00",
      "#ff9900",
      "#333333"
    ],
    "x": 520,
    "y": 440,
    "wires": []
  },
  {
    "id": "chart-light",
    "type": "ui_chart",
    "z": "tab-dashboard",
    "name": "Chart Ánh sáng",
    "group": "group-light",
    "order": 2,
    "width": 7,
    "height": 4,
    "chartType": "line",
    "ymin": "0",
    "ymax": "100",
    "x": 820,
    "y": 440,
    "wires": []
  },
  {
    "id": "ui-pump",
    "type": "ui_text",
    "z": "tab-dashboard",
    "name": "TT Bơm",
    "group": "group-status",
    "order": 1,
    "width": 3,
    "height": 1,
    "format": "<div style=\"padding:4px;border-radius:6px;background:{{color}};color:#fff;font-weight:bold;text-align:center\">\n  BOM: {{payload}}\n</div>",
    "x": 540,
    "y": 580,
    "wires": []
  },
  {
    "id": "ui-fan",
    "type": "ui_text",
    "z": "tab-dashboard",
    "name": "TT Quạt",
    "group": "group-status",
    "order": 2,
    "width": 3,
    "height": 1,
    "format": "<div style=\"padding:4px;border-radius:6px;background:{{color}};color:#fff;font-weight:bold;text-align:center\">\n  QUAT: {{payload}}\n</div>",
    "x": 760,
    "y": 580,
    "wires": []
  },
  {
    "id": "ui-mode",
    "type": "ui_text",
    "z": "tab-dashboard",
    "name": "TT Chế độ",
    "group": "group-status",
    "order": 3,
    "width": 3,
    "height": 1,
    "format": "<div style=\"padding:4px;border-radius:6px;background:#0094CE;color:#fff;font-weight:bold;text-align:center\">\n  CHE DO: {{payload | uppercase}}\n</div>",
    "x": 980,
    "y": 580,
    "wires": []
  },
  {
    "id": "ui-rssi",
    "type": "ui_text",
    "z": "tab-dashboard",
    "name": "Wifi RSSI",
    "group": "group-status",
    "order": 4,
    "width": 3,
    "height": 1,
    "format": "{{payload}}",
    "x": 1200,
    "y": 580,
    "wires": []
  },
  {
    "id": "ui-alert-list",
    "type": "ui_template",
    "z": "tab-dashboard",
    "name": "Alert history",
    "group": "group-alerts",
    "order": 3,
    "width": 6,
    "height": 5,
    "format": "<div ng-bind-html=\"'no data'\"></div>",
    "x": 520,
    "y": 720,
    "wires": []
  },
  {
    "id": "ui-mode-switch",
    "type": "ui_switch",
    "z": "tab-control",
    "name": "Chế độ AUTO/MANUAL",
    "group": "control-group",
    "order": 1,
    "width": 5,
    "height": 2,
    "label": "AUTO (bật) / MANUAL (tắt)",
    "passthru": false,
    "topic": "mode",
    "onvalue": true,
    "offvalue": false,
    "x": 100,
    "y": 80,
    "wires": [
      [
        "fnc-control-logic"
      ]
    ]
  },
  {
    "id": "ui-pump-switch",
    "type": "ui_switch",
    "z": "tab-control",
    "name": "Bật/Tắt Bơm",
    "group": "control-group",
    "order": 2,
    "width": 4,
    "height": 2,
    "label": "Bom nuoc",
    "passthru": false,
    "topic": "pump",
    "onvalue": true,
    "offvalue": false,
    "x": 100,
    "y": 220,
    "wires": [
      [
        "fnc-control-logic"
      ]
    ]
  },
  {
    "id": "ui-fan-switch",
    "type": "ui_switch",
    "z": "tab-control",
    "name": "Bật/Tắt Quạt",
    "group": "control-group",
    "order": 3,
    "width": 4,
    "height": 2,
    "label": "Quat",
    "passthru": false,
    "topic": "fan",
    "onvalue": true,
    "offvalue": false,
    "x": 100,
    "y": 340,
    "wires": [
      [
        "fnc-control-logic"
      ]
    ]
  },
  {
    "id": "ui-buzzer-btn",
    "type": "ui_button",
    "z": "tab-control",
    "name": "Test Cảnh báo",
    "group": "control-group",
    "order": 4,
    "width": 4,
    "height": 2,
    "label": "Test Canh Bao",
    "topic": "buzzer",
    "payload": "true",
    "payloadType": "bool",
    "x": 100,
    "y": 460,
    "wires": [
      [
        "fnc-control-logic"
      ]
    ]
  },
  {
    "id": "ui-status-display",
    "type": "ui_text",
    "z": "tab-control",
    "name": "Trạng thái hien tai",
    "group": "control-group",
    "order": 5,
    "width": 12,
    "height": 2,
    "format": "<div style=\"font-size:13px;line-height:1.6\">\n  <b>Chế độ (ESP32):</b> {{ flow.dev_mode ? (flow.dev_mode | uppercase) : '—' }} &nbsp;&nbsp;\n  <b>Bơm:</b> {{ flow.dev_pump ? 'BẬT' : 'TẮT' }} &nbsp;&nbsp;\n  <b>Quạt:</b> {{ flow.dev_fan ? 'BẬT' : 'TẮT' }}<br/>\n  <span style=\"color:#666;font-size:11px\">Công tắc BẬT (phải) = AUTO · TẮT (trái) = MANUAL · Chỉ điều bơm/quạt khi MANUAL</span>\n</div>",
    "x": 100,
    "y": 600,
    "wires": []
  },
  {
    "id": "mqtt-control-out",
    "type": "mqtt out",
    "z": "tab-control",
    "name": "MQTT Control",
    "topic": "iot/farm/control",
    "qos": "1",
    "retain": "true",
    "datatype": "json",
    "broker": "mqtt-broker-hivemq",
    "x": 520,
    "y": 220,
    "wires": []
  },
  {
    "id": "ui_base",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "Helvetica Neue, Arial, Helvetica, sans-serif",
        "selected": "#ff9900",
        "major": "#ff9900",
        "minor": "#ff9900",
        "background": "#f0f0f0"
      }
    },
    "site": {
      "name": "Smart Farm IoT",
      "lang": "vi",
      "images": {}
    }
  }
]