node-red.json
[
  {
    "id": "4bb92f4817b19ffe",
    "type": "tab",
    "label": "Smart Farm",
    "disabled": false,
    "info": ""
  },
  {
    "id": "42f87f2ba55f27ae",
    "type": "mqtt in",
    "z": "4bb92f4817b19ffe",
    "name": "Nhận cảm biến",
    "topic": "farm/sensor",
    "qos": "2",
    "datatype": "json",
    "broker": "ce582509b4db026a",
    "inputs": 0,
    "x": 280,
    "y": 420,
    "wires": [
      [
        "725c52614ac7fe96",
        "acd7cd59b970be3f",
        "3420af7bfdd49ebd",
        "8162a07aa6fde028",
        "f641911464c78bac",
        "653509f3196bb481",
        "733754fc5e9e1460",
        "081dc1083ce70af3"
      ]
    ]
  },
  {
    "id": "725c52614ac7fe96",
    "type": "switch",
    "z": "4bb92f4817b19ffe",
    "name": "Nhiệt độ > 35°C",
    "property": "payload.temperature",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "35",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 560,
    "y": 280,
    "wires": [
      [
        "83aaffa8a80e4504"
      ]
    ]
  },
  {
    "id": "83aaffa8a80e4504",
    "type": "ui_toast",
    "z": "4bb92f4817b19ffe",
    "position": "top-right",
    "displayTime": "10",
    "outputs": 0,
    "name": "Thông báo nhiệt độ",
    "x": 850,
    "y": 280,
    "wires": []
  },
  {
    "id": "acd7cd59b970be3f",
    "type": "switch",
    "z": "4bb92f4817b19ffe",
    "name": "Độ ẩm < 40%",
    "property": "payload.humidity",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lt",
        "v": "40",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 560,
    "y": 360,
    "wires": [
      [
        "74fea8ba631ab12c",
        "f3ac9c548f680c1b"
      ]
    ]
  },
  {
    "id": "74fea8ba631ab12c",
    "type": "ui_toast",
    "z": "4bb92f4817b19ffe",
    "position": "top-right",
    "displayTime": "10",
    "outputs": 0,
    "name": "Thông báo đất khô",
    "x": 850,
    "y": 360,
    "wires": []
  },
  {
    "id": "f3ac9c548f680c1b",
    "type": "switch",
    "z": "4bb92f4817b19ffe",
    "name": "Chế độ tưới tự động",
    "property": "manual",
    "propertyType": "flow",
    "rules": [
      {
        "t": "eq",
        "v": "true",
        "vt": "bool"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 760,
    "y": 440,
    "wires": [
      [
        "269c6791c3a3579d"
      ]
    ]
  },
  {
    "id": "269c6791c3a3579d",
    "type": "change",
    "z": "4bb92f4817b19ffe",
    "name": "Bật bơm 5s",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"pump\":true,\"duration\":5}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1010,
    "y": 440,
    "wires": [
      [
        "b87b62e5bfdc640b"
      ]
    ]
  },
  {
    "id": "3420af7bfdd49ebd",
    "type": "switch",
    "z": "4bb92f4817b19ffe",
    "name": "Ẩm < 45% (cần tưới)",
    "property": "payload.humidity",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lt",
        "v": "45",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 560,
    "y": 600,
    "wires": [
      [
        "bf0438db135287d6"
      ]
    ]
  },
  {
    "id": "bf0438db135287d6",
    "type": "function",
    "z": "4bb92f4817b19ffe",
    "name": "Hiện trạng bơm",
    "func": "var h = msg.payload.humidity;\nmsg.payload = '🚿 Cần tưới — độ ẩm KK: ' + (h != null ? h : '?') + '%';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 600,
    "wires": [
      [
        "cc559b64047fae48"
      ]
    ]
  },
  {
    "id": "cc559b64047fae48",
    "type": "ui_text",
    "z": "4bb92f4817b19ffe",
    "group": "f9de133a0886a4df",
    "order": 5,
    "width": "3",
    "height": "2",
    "name": "Trạng thái tưới",
    "format": "<span style=\"font-size:15px;line-height:1.4\">{{payload}}</span>",
    "layout": "row-center",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#1b5e20",
    "x": 1000,
    "y": 620,
    "wires": []
  },
  {
    "id": "8162a07aa6fde028",
    "type": "switch",
    "z": "4bb92f4817b19ffe",
    "name": "Độ ẩm < 20%",
    "property": "payload.humidity",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lt",
        "v": "20",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 560,
    "y": 660,
    "wires": [
      [
        "3b67c9142c9f7ad2"
      ]
    ]
  },
  {
    "id": "3b67c9142c9f7ad2",
    "type": "function",
    "z": "4bb92f4817b19ffe",
    "name": "Hiện cảnh báo",
    "func": "var h = msg.payload.humidity;\nmsg.payload = '🔔 CẢNH BÁO: độ ẩm rất thấp (' + (h != null ? h : '?') + '%) — cần tưới ngay';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 660,
    "wires": [
      [
        "569d0ac6f37eb13f"
      ]
    ]
  },
  {
    "id": "569d0ac6f37eb13f",
    "type": "ui_text",
    "z": "4bb92f4817b19ffe",
    "group": "f9de133a0886a4df",
    "order": 6,
    "width": "3",
    "height": "2",
    "name": "Cảnh báo Buzzer",
    "format": "<span style=\"font-size:15px;line-height:1.4;color:#b71c1c;font-weight:600\">{{payload}}</span>",
    "layout": "row-center",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "",
    "x": 1010,
    "y": 680,
    "wires": []
  },
  {
    "id": "f641911464c78bac",
    "type": "ui_chart",
    "z": "4bb92f4817b19ffe",
    "name": "Biểu đồ nhiệt độ",
    "group": "f9de133a0886a4df",
    "order": 1,
    "width": "3",
    "height": "4",
    "chartType": "line",
    "outputs": 1,
    "x": 740,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "653509f3196bb481",
    "type": "ui_chart",
    "z": "4bb92f4817b19ffe",
    "name": "Biểu đồ độ ẩm",
    "group": "f9de133a0886a4df",
    "order": 2,
    "width": "3",
    "height": "4",
    "chartType": "line",
    "outputs": 1,
    "x": 740,
    "y": 540,
    "wires": [
      []
    ]
  },
  {
    "id": "733754fc5e9e1460",
    "type": "ui_text",
    "z": "4bb92f4817b19ffe",
    "group": "f9de133a0886a4df",
    "order": 3,
    "width": "3",
    "height": 1,
    "name": "Nhiệt độ",
    "format": "🌡 Nhiệt độ<br><span style=\"font-size:24px;font-weight:bold\">{{payload.temperature}}°C</span>",
    "layout": "row-spread",
    "x": 540,
    "y": 200,
    "wires": []
  },
  {
    "id": "081dc1083ce70af3",
    "type": "ui_text",
    "z": "4bb92f4817b19ffe",
    "group": "f9de133a0886a4df",
    "order": 4,
    "width": "3",
    "height": 1,
    "name": "Độ ẩm",
    "format": "💧 Độ ẩm<br><span style=\"font-size:24px;font-weight:bold\">{{payload.humidity}}%</span>",
    "layout": "row-spread",
    "x": 530,
    "y": 140,
    "wires": []
  },
  {
    "id": "74fbaaf487a52011",
    "type": "ui_button",
    "z": "4bb92f4817b19ffe",
    "name": "Bật/Tắt bơm",
    "group": "61fd9ff991be7727",
    "order": 1,
    "width": "3",
    "height": 1,
    "label": "Máy bơm",
    "color": "#ffffff",
    "icon": "fa-tint",
    "payload": "{\"pump\":true,\"duration\":5}",
    "payloadType": "json",
    "topic": "farm/control",
    "x": 250,
    "y": 720,
    "wires": [
      [
        "b87b62e5bfdc640b"
      ]
    ]
  },
  {
    "id": "2a20fb192f3224df",
    "type": "ui_switch",
    "z": "4bb92f4817b19ffe",
    "name": "Tưới tự động",
    "label": "Tưới tự động",
    "group": "61fd9ff991be7727",
    "order": 2,
    "width": "3",
    "height": 1,
    "topic": "",
    "x": 260,
    "y": 800,
    "wires": [
      [
        "05867df2de85ac40"
      ]
    ]
  },
  {
    "id": "05867df2de85ac40",
    "type": "change",
    "z": "4bb92f4817b19ffe",
    "name": "Set flow.manual",
    "rules": [
      {
        "t": "set",
        "p": "manual",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 460,
    "y": 800,
    "wires": [
      []
    ]
  },
  {
    "id": "b87b62e5bfdc640b",
    "type": "mqtt out",
    "z": "4bb92f4817b19ffe",
    "name": "Gửi điều khiển bơm",
    "topic": "farm/control",
    "qos": "2",
    "retain": "false",
    "broker": "ce582509b4db026a",
    "x": 1340,
    "y": 720,
    "wires": []
  },
  {
    "id": "ce582509b4db026a",
    "type": "mqtt-broker",
    "name": "HiveMQ Cloud",
    "broker": "b1c8f2cc5cd4416fb74b671a407dc0ff.s1.eu.hivemq.cloud",
    "port": "8883",
    "tls": "",
    "clientid": "nodered-client",
    "autoConnect": true,
    "usetls": true
  },
  {
    "id": "f9de133a0886a4df",
    "type": "ui_group",
    "name": "Giám sát",
    "tab": "0ea16edec3bb798b",
    "order": 1,
    "disp": true,
    "width": "6",
    "className": ""
  },
  {
    "id": "61fd9ff991be7727",
    "type": "ui_group",
    "name": "Điều khiển",
    "tab": "0ea16edec3bb798b",
    "order": 2,
    "disp": true,
    "width": "6",
    "className": ""
  },
  {
    "id": "0ea16edec3bb798b",
    "type": "ui_tab",
    "name": "Smart Farm",
    "icon": "fa-leaf",
    "order": 1
  },
  {
    "id": "99075fa4328e4f90",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-dashboard": "3.6.6"
    }
  }
]