latex/node-red-flow.txt
[
  {
    "id": "bd7b79c3fbf5417a",
    "type": "mqtt in",
    "z": "28972163d1638f7e",
    "name": "Nhan cam bien",
    "topic": "iot/farm/sensor",
    "qos": "0",
    "datatype": "json",
    "broker": "d4179fb10b941343",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 260,
    "y": 380,
    "wires": [
      [
        "a31199f64a6ad255",
        "b8e99199386b9667",
        "01e7a8e29907dd5c",
        "e57427a9f993e160",
        "b91420f0802c3665",
        "b24a110f89916cc1",
        "f8a1gaugefn01",
        "f8a1gaugefn02",
        "9e2f992ea37b88e9",
        "ef65ccde2a9dc727",
        "soilfuncfn01",
        "soilgaugefn01",
        "soilchartfn01",
        "soiltextfn01"
      ]
    ]
  },
  {
    "id": "f8a1gaugefn01",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Gauge: nhiet do",
    "func": "var p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || typeof p !== 'object') return null;\nvar t = parseFloat(p.temperature);\nif (isNaN(t)) return null;\nmsg.payload = t;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 400,
    "wires": [
      [
        "f8a1gaugeui01"
      ]
    ]
  },
  {
    "id": "f8a1gaugefn02",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Gauge: do am KK",
    "func": "var p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || typeof p !== 'object') return null;\nvar h = parseFloat(p.humidity);\nif (isNaN(h)) return null;\nmsg.payload = h;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 440,
    "wires": [
      [
        "f8a1gaugeui02"
      ]
    ]
  },
  {
    "id": "f8a1gaugeui01",
    "type": "ui_gauge",
    "z": "28972163d1638f7e",
    "name": "Gauge nhiet do",
    "group": "f1e2d3c4b5a69708",
    "order": 2,
    "width": "4",
    "height": "4",
    "gtype": "gage",
    "title": "Nhiet do (C)",
    "label": "C",
    "format": "{{payload}}",
    "min": 0,
    "max": 100,
    "colors": [
      "#00b050",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "33",
    "seg2": "67",
    "diff": false,
    "className": "",
    "x": 720,
    "y": 400,
    "wires": []
  },
  {
    "id": "f8a1gaugeui02",
    "type": "ui_gauge",
    "z": "28972163d1638f7e",
    "name": "Gauge do am KK",
    "group": "d2ca79a83590b557",
    "order": 2,
    "width": "4",
    "height": "4",
    "gtype": "donut",
    "title": "Do am KK (%)",
    "label": "%",
    "format": "{{payload}}",
    "min": 0,
    "max": 100,
    "colors": [
      "#00b050",
      "#ff9900",
      "#ca3838"
    ],
    "seg1": "33",
    "seg2": "67",
    "diff": false,
    "className": "",
    "x": 720,
    "y": 440,
    "wires": []
  },
  {
    "id": "b91420f0802c3665",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Chart: nhiet do (so)",
    "func": "var p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || typeof p !== 'object') return null;\nvar t = parseFloat(p.temperature);\nif (isNaN(t)) return null;\nmsg.payload = t;\nmsg.topic = 'Nhiet do C';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 480,
    "wires": [
      [
        "cc5a9fcda823fb39"
      ]
    ]
  },
  {
    "id": "b24a110f89916cc1",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Chart: do am KK (so)",
    "func": "var p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || typeof p !== 'object') return null;\nvar h = parseFloat(p.humidity);\nif (isNaN(h)) return null;\nmsg.payload = h;\nmsg.topic = 'Do am KK %';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 520,
    "wires": [
      [
        "2c3a97d97ea9da30"
      ]
    ]
  },
  {
    "id": "a31199f64a6ad255",
    "type": "switch",
    "z": "28972163d1638f7e",
    "name": "Nhiet do > 35C",
    "property": "payload.temperature",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "35",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 540,
    "y": 220,
    "wires": [
      [
        "f9a1toastfn01"
      ]
    ]
  },
  {
    "id": "f9a1toastfn01",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Toast text: nhiet",
    "func": "var p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nvar t = p && p.temperature != null ? Number(p.temperature) : NaN;\nif (isNaN(t)) return null;\nmsg.payload = 'Nhiet do cao: ' + t + 'C';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 760,
    "y": 220,
    "wires": [
      [
        "425f5a8bf7c2a0b5"
      ]
    ]
  },
  {
    "id": "425f5a8bf7c2a0b5",
    "type": "ui_toast",
    "z": "28972163d1638f7e",
    "position": "bottom left",
    "displayTime": "8",
    "outputs": 0,
    "className": "",
    "name": "Thong bao nhiet do",
    "x": 990,
    "y": 220,
    "wires": []
  },
  {
    "id": "b8e99199386b9667",
    "type": "switch",
    "z": "28972163d1638f7e",
    "name": "Do am KK < 40%",
    "property": "payload.humidity",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lt",
        "v": "40",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 540,
    "y": 300,
    "wires": [
      [
        "f9a1toastfn02",
        "dbb4a8c895814460"
      ]
    ]
  },
  {
    "id": "f9a1toastfn02",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Toast text: am KK",
    "func": "var p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nvar h = p && p.humidity != null ? Number(p.humidity) : NaN;\nif (isNaN(h)) return null;\nmsg.payload = 'Do am KK thap: ' + h + '% - can nhac tuoi';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 760,
    "y": 300,
    "wires": [
      [
        "e9272ea0978a6ed1"
      ]
    ]
  },
  {
    "id": "e9272ea0978a6ed1",
    "type": "ui_toast",
    "z": "28972163d1638f7e",
    "position": "bottom left",
    "displayTime": "8",
    "outputs": 0,
    "className": "",
    "name": "Thong bao dat kho",
    "x": 990,
    "y": 300,
    "wires": []
  },
  {
    "id": "dbb4a8c895814460",
    "type": "switch",
    "z": "28972163d1638f7e",
    "name": "Che do tuoi tu dong",
    "property": "manual",
    "propertyType": "flow",
    "rules": [
      {
        "t": "eq",
        "v": "true",
        "vt": "bool"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 780,
    "y": 340,
    "wires": [
      [
        "df4e79c154d58a50"
      ]
    ]
  },
  {
    "id": "df4e79c154d58a50",
    "type": "change",
    "z": "28972163d1638f7e",
    "name": "Bat bom 5s",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"pump\":true,\"duration\":5}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1070,
    "y": 460,
    "wires": [
      [
        "52d4228c218a253a"
      ]
    ]
  },
  {
    "id": "01e7a8e29907dd5c",
    "type": "switch",
    "z": "28972163d1638f7e",
    "name": "Do am dat < 2048",
    "property": "payload.soil",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lt",
        "v": "2048",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 540,
    "y": 600,
    "wires": [
      [
        "c90822af4a63eb54",
        "soilalertfn01"
      ]
    ]
  },
  {
    "id": "c90822af4a63eb54",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Hien trang bom",
    "func": "var s = msg.payload.soil;\nmsg.payload = 'Can tuoi - do am dat: ' + (s != null ? s : '?') + '';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 740,
    "y": 600,
    "wires": [
      [
        "22c86325ecbf70be"
      ]
    ]
  },
  {
    "id": "22c86325ecbf70be",
    "type": "ui_text",
    "z": "28972163d1638f7e",
    "group": "d2ca79a83590b557",
    "order": 4,
    "width": "16",
    "height": "3",
    "name": "Trang thai tuoi",
    "label": "",
    "format": "<span style=\"font-size:15px;line-height:1.4\">{{msg.payload}}</span>",
    "layout": "row-center",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#1b5e20",
    "x": 980,
    "y": 600,
    "wires": []
  },
  {
    "id": "e57427a9f993e160",
    "type": "switch",
    "z": "28972163d1638f7e",
    "name": "Do am dat < 1024",
    "property": "payload.soil",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lt",
        "v": "1024",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 500,
    "y": 660,
    "wires": [
      [
        "673687e437ae8622"
      ]
    ]
  },
  {
    "id": "673687e437ae8622",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Hien canh bao",
    "func": "var s = msg.payload.soil;\nmsg.payload = 'CANH BAO: dat rat kho (' + (s != null ? s : '?') + ') - can tuoi ngay!';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 740,
    "y": 660,
    "wires": [
      [
        "ac643c3a74928b73"
      ]
    ]
  },
  {
    "id": "ac643c3a74928b73",
    "type": "ui_text",
    "z": "28972163d1638f7e",
    "group": "d2ca79a83590b557",
    "order": 5,
    "width": "6",
    "height": "2",
    "name": "Canh bao Buzzer",
    "format": "<span style=\"font-size:15px;line-height:1.4;color:#b71c1c;font-weight:600\">{{msg.payload}}</span>",
    "layout": "row-center",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "",
    "x": 990,
    "y": 660,
    "wires": []
  },
  {
    "id": "soilfuncfn01",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Soil: hien thi so",
    "func": "var p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || typeof p !== 'object') return null;\nvar s = parseFloat(p.soil);\nif (isNaN(s)) return null;\nmsg.payload = Math.round((1 - s / 4095) * 100);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 820,
    "wires": [
      [
        "soildisplay01"
      ]
    ]
  },
  {
    "id": "soildisplay01",
    "type": "ui_text",
    "z": "28972163d1638f7e",
    "group": "5e4f3c2d1a0b9876",
    "order": 1,
    "width": "4",
    "height": "4",
    "name": "Do am dat",
    "label": "",
    "format": "<div style=\"display:flex;align-items:center;justify-content:center;height:100%;min-height:120px\"><div style=\"text-align:center\"><div style=\"font-size:14px;opacity:0.85;margin-bottom:8px\">Do am dat</div><span style=\"font-size:36px;font-weight:700;line-height:1.1\">{{msg.payload}}<span style=\"font-size:22px\">%</span></span></div></div>",
    "layout": "row-center",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#000000",
    "x": 720,
    "y": 820,
    "wires": []
  },
  {
    "id": "soilgaugefn01",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Soil: gauge",
    "func": "var p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || typeof p !== 'object') return null;\nvar s = parseFloat(p.soil);\nif (isNaN(s)) return null;\nmsg.payload = Math.round((1 - s / 4095) * 100);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 880,
    "wires": [
      [
        "soilgaugeui01"
      ]
    ]
  },
  {
    "id": "soilgaugeui01",
    "type": "ui_gauge",
    "z": "28972163d1638f7e",
    "name": "Gauge do am dat",
    "group": "5e4f3c2d1a0b9876",
    "order": 2,
    "width": "4",
    "height": "4",
    "gtype": "donut",
    "title": "Do am dat (%)",
    "label": "%",
    "format": "{{payload}}",
    "min": 0,
    "max": 100,
    "colors": [
      "#ca3838",
      "#ff9900",
      "#00b050"
    ],
    "seg1": "33",
    "seg2": "67",
    "diff": false,
    "className": "",
    "x": 720,
    "y": 880,
    "wires": []
  },
  {
    "id": "soilchartfn01",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Soil: chart (so)",
    "func": "var p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || typeof p !== 'object') return null;\nvar s = parseFloat(p.soil);\nif (isNaN(s)) return null;\nmsg.payload = Math.round((1 - s / 4095) * 100);\nmsg.topic = 'Do am dat %';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 940,
    "wires": [
      [
        "soilchartui01"
      ]
    ]
  },
  {
    "id": "soilchartui01",
    "type": "ui_chart",
    "z": "28972163d1638f7e",
    "name": "Bieu do do am dat",
    "group": "5e4f3c2d1a0b9876",
    "order": 3,
    "width": "15",
    "height": "5",
    "label": "chart",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "10",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#8b4513",
      "#aec7e8",
      "#2ca02c",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 720,
    "y": 940,
    "wires": [
      []
    ]
  },
  {
    "id": "soilalertfn01",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Toast: dat kho",
    "func": "var p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nvar s = p && p.soil != null ? Number(p.soil) : NaN;\nif (isNaN(s)) return null;\nmsg.payload = 'Dat kho! Do am dat: ' + Math.round((1 - s / 4095) * 100) + '% - can tuoi!';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 760,
    "wires": [
      [
        "soiltoastui01"
      ]
    ]
  },
  {
    "id": "soiltoastui01",
    "type": "ui_toast",
    "z": "28972163d1638f7e",
    "position": "bottom left",
    "displayTime": "8",
    "outputs": 0,
    "className": "",
    "name": "Thong bao dat kho",
    "x": 990,
    "y": 760,
    "wires": []
  },
  {
    "id": "soiltextfn01",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Soil: trang thai",
    "func": "var p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || typeof p !== 'object') return null;\nvar s = parseFloat(p.soil);\nif (isNaN(s)) return null;\nvar pct = Math.round((1 - s / 4095) * 100);\nvar status = pct < 30 ? 'Do am thap - can tuoi!' : (pct < 60 ? 'Do am trung binh' : 'Dat am tot');\nmsg.payload = 'Trang thai dat: ' + status + ' (' + pct + '%)';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 1000,
    "wires": [
      [
        "soilstatusui01"
      ]
    ]
  },
  {
    "id": "soilstatusui01",
    "type": "ui_text",
    "z": "28972163d1638f7e",
    "group": "5e4f3c2d1a0b9876",
    "order": 4,
    "width": "15",
    "height": "2",
    "name": "Trang thai dat",
    "label": "",
    "format": "<span style=\"font-size:14px;line-height:1.4\">{{msg.payload}}</span>",
    "layout": "row-center",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#2e7d32",
    "x": 720,
    "y": 1000,
    "wires": []
  },
  {
    "id": "cc5a9fcda823fb39",
    "type": "ui_chart",
    "z": "28972163d1638f7e",
    "name": "Bieu do nhiet do",
    "group": "f1e2d3c4b5a69708",
    "order": 3,
    "width": "15",
    "height": "5",
    "label": "chart",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "10",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#e74c3c",
      "#aec7e8",
      "#ff7f0e",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 720,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "2c3a97d97ea9da30",
    "type": "ui_chart",
    "z": "28972163d1638f7e",
    "name": "Bieu do do am KK",
    "group": "d2ca79a83590b557",
    "order": 3,
    "width": "15",
    "height": "5",
    "label": "chart",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "10",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#2980b9",
      "#aec7e8",
      "#2ca02c",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 720,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "9e2f992ea37b88e9",
    "type": "ui_text",
    "z": "28972163d1638f7e",
    "group": "f1e2d3c4b5a69708",
    "order": 1,
    "width": "4",
    "height": "4",
    "name": "Nhiet do",
    "label": "",
    "format": "<div style=\"display:flex;align-items:center;justify-content:center;height:100%;min-height:120px\"><div style=\"text-align:center\"><div style=\"font-size:14px;opacity:0.85;margin-bottom:8px\">Nhiet do</div><span style=\"font-size:36px;font-weight:700;line-height:1.1\">{{msg.payload.temperature}}<span style=\"font-size:22px\">C</span></span></div></div>",
    "layout": "row-center",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#000000",
    "x": 520,
    "y": 160,
    "wires": []
  },
  {
    "id": "ef65ccde2a9dc727",
    "type": "ui_text",
    "z": "28972163d1638f7e",
    "group": "d2ca79a83590b557",
    "order": 1,
    "width": "4",
    "height": "4",
    "name": "Do am KK",
    "label": "",
    "format": "<div style=\"display:flex;align-items:center;justify-content:center;height:100%;min-height:120px\"><div style=\"text-align:center\"><div style=\"font-size:14px;opacity:0.85;margin-bottom:8px\">Do am KK</div><span style=\"font-size:36px;font-weight:700;line-height:1.1\">{{msg.payload.humidity}}<span style=\"font-size:22px\">%</span></span></div></div>",
    "layout": "row-center",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#000000",
    "x": 510,
    "y": 100,
    "wires": []
  },
  {
    "id": "9782277746682320",
    "type": "ui_button",
    "z": "28972163d1638f7e",
    "name": "Bat/Tat bom",
    "group": "22743ae4eedbebe6",
    "order": 1,
    "width": "12",
    "height": "2",
    "passthru": false,
    "label": "May bom",
    "tooltip": "",
    "color": "#ffffff",
    "bgcolor": "",
    "className": "",
    "icon": "fa-tint",
    "payload": "{\"pump\":true,\"duration\":5}",
    "payloadType": "json",
    "topic": "iot/farm/control",
    "topicType": "str",
    "x": 230,
    "y": 700,
    "wires": [
      [
        "52d4228c218a253a"
      ]
    ]
  },
  {
    "id": "9269adf2dde7a036",
    "type": "ui_switch",
    "z": "28972163d1638f7e",
    "name": "Tuoi tu dong",
    "label": "Tuoi tu dong",
    "tooltip": "",
    "group": "22743ae4eedbebe6",
    "order": 2,
    "width": "12",
    "height": "2",
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "topicType": "str",
    "onvalue": "",
    "onvalueType": "str",
    "onicon": "",
    "oncolor": "",
    "offvalue": "",
    "offvalueType": "str",
    "officon": "",
    "offcolor": "",
    "animate": true,
    "className": "",
    "x": 240,
    "y": 760,
    "wires": [
      [
        "f0dd0c472d5d7e77"
      ]
    ]
  },
  {
    "id": "f0dd0c472d5d7e77",
    "type": "change",
    "z": "28972163d1638f7e",
    "name": "Set flow.manual",
    "rules": [
      {
        "t": "set",
        "p": "manual",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 440,
    "y": 760,
    "wires": [
      []
    ]
  },
  {
    "id": "52d4228c218a253a",
    "type": "mqtt out",
    "z": "28972163d1638f7e",
    "name": "Gui dieu khien bom",
    "topic": "iot/farm/control",
    "qos": "0",
    "retain": "false",
    "broker": "d4179fb10b941343",
    "x": 1420,
    "y": 700,
    "wires": []
  },
  {
    "id": "d4179fb10b941343",
    "type": "mqtt-broker",
    "name": "Smart",
    "broker": "b1c8f2cc5cd4416fb74b671a407dc0ff.s1.eu.hivemq.cloud",
    "port": "8883",
    "tls": "",
    "clientid": "",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "f1e2d3c4b5a69708",
    "type": "ui_group",
    "name": "Nhiet do",
    "tab": "2ec7089e7e446577",
    "order": 2,
    "disp": true,
    "width": "24",
    "collapse": false,
    "className": ""
  },
  {
    "id": "d2ca79a83590b557",
    "type": "ui_group",
    "name": "Do am KK",
    "tab": "2ec7089e7e446577",
    "order": 1,
    "disp": true,
    "width": "24",
    "collapse": false,
    "className": ""
  },
  {
    "id": "22743ae4eedbebe6",
    "type": "ui_group",
    "name": "Dieu khien",
    "tab": "2ec7089e7e446577",
    "order": 3,
    "disp": true,
    "width": "24",
    "collapse": false,
    "className": ""
  },
  {
    "id": "5e4f3c2d1a0b9876",
    "type": "ui_group",
    "name": "Do am dat",
    "tab": "2ec7089e7e446577",
    "order": 4,
    "disp": true,
    "width": "24",
    "collapse": false,
    "className": ""
  },
  {
    "id": "2ec7089e7e446577",
    "type": "ui_tab",
    "name": "Smart Farm",
    "icon": "fa-leaf",
    "order": 1
  },
  {
    "id": "b71f21b1ed76d1c3",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-dashboard": "3.6.6"
    }
  }
]
