tài nguyên/latex-example/node-red.json
[
    {
        "id": "5539a3ae08886664",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "57c5e5bd8241937b",
        "type": "mqtt in",
        "z": "5539a3ae08886664",
        "name": "",
        "topic": "iot/env/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "58bacfaea680b93e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 320,
        "wires": [
            [
                "c9c869395c4a2ce6",
                "d3418ab0ab2a6e63"
            ]
        ]
    },
    {
        "id": "f781ledstatus001",
        "type": "mqtt in",
        "z": "5539a3ae08886664",
        "name": "LED Status Listener",
        "topic": "iot/led/status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "58bacfaea680b93e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 680,
        "wires": [
            [
                "f781ledbrightfn"
            ]
        ]
    },
    {
        "id": "f781ledbrightfn",
        "type": "function",
        "z": "5539a3ae08886664",
        "name": "Sync slider + switch tu LED status",
        "func": "// Dong bo ca slider va switch tu iot/led/status\n// (keo slider ve 0% => ledState false => switch phai TAT)\nvar p = msg.payload;\nif (typeof p === \"string\") {\n    try { p = JSON.parse(p); } catch (e) { return [null, null]; }\n}\nvar toSlider = null;\nvar toSwitch = null;\nif (p.brightness !== undefined) {\n    toSlider = { payload: Number(p.brightness) };\n}\nif (p.ledState !== undefined) {\n    toSwitch = { payload: p.ledState === true };\n}\nreturn [toSlider, toSwitch];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 680,
        "wires": [
            [
                "d2243c92df6d44db"
            ],
            [
                "6832691fa48ba79a"
            ]
        ]
    },
    {
        "id": "c9c869395c4a2ce6",
        "type": "debug",
        "z": "5539a3ae08886664",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "d3418ab0ab2a6e63",
        "type": "function",
        "z": "5539a3ae08886664",
        "name": "HandleData",
        "func": "// parse JSON\nif (typeof msg.payload === \"string\") {\n    msg.payload = JSON.parse(msg.payload);\n}\n\n// 4 nhanh: temperature, humidity, alert, ledState\n// KHONG co brightness vi se gay feedback loop voi slider\nreturn [\n    { payload: msg.payload },\n    { payload: msg.payload },\n    { payload: msg.payload },\n    { payload: msg.payload }\n];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 360,
        "wires": [
            [
                "de972a232de4ea25"
            ],
            [
                "c238204410bd9eb0"
            ],
            [
                "a65d9c4fa62dd401"
            ],
            [
                "4ee4d37797529885"
            ]
        ]
    },
    {
        "id": "f5dccd70ebf88662",
        "type": "ui_gauge",
        "z": "5539a3ae08886664",
        "name": "Nhiệt độ hiện tại",
        "group": "2ffa506c78a7ec92",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nhiệt độ hiện tại",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00c853",
            "#ffd600",
            "#d50000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 180,
        "wires": []
    },
    {
        "id": "c093cb4392d0eca4",
        "type": "ui_gauge",
        "z": "5539a3ae08886664",
        "name": "Độ ẩm hiện tại",
        "group": "a8dc557afaf2f17a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Độ ẩm hiện tại",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b0ff",
            "#00e5ff",
            "#00bfa5"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 320,
        "wires": []
    },
    {
        "id": "c2a8aafcf9325c14",
        "type": "ui_chart",
        "z": "5539a3ae08886664",
        "name": "Biểu đồ độ ẩm",
        "group": "a8dc557afaf2f17a",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Biểu đồ độ ẩm",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "8a9a417d2840173f",
        "type": "ui_chart",
        "z": "5539a3ae08886664",
        "name": "Biểu đồ nhiệt độ",
        "group": "2ffa506c78a7ec92",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Biểu đồ nhiệt độ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6832691fa48ba79a",
        "type": "ui_switch",
        "z": "5539a3ae08886664",
        "name": "Bật đèn / Tắt đèn",
        "label": "Bật đèn / Tắt đèn",
        "tooltip": "",
        "group": "573a23f040fa76d5",
        "order": 4,
        "width": "24",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "iot/led/power/set",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1090,
        "y": 560,
        "wires": [
            [
                "2a9a8088390c80af"
            ]
        ]
    },
    {
        "id": "33e3087dac4ac8d9",
        "type": "mqtt out",
        "z": "5539a3ae08886664",
        "name": "LED Control",
        "topic": "iot/led/power/set",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "58bacfaea680b93e",
        "x": 1490,
        "y": 580,
        "wires": []
    },
    {
        "id": "slider2mqtt001",
        "type": "change",
        "z": "5539a3ae08886664",
        "name": "Chỉ cho phép slider đi qua",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "iot/led/power/set",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "ledState",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 610,
        "wires": [
            [
                "33e3087dac4ac8d9"
            ]
        ]
    },
    {
        "id": "34bd3519baf34694",
        "type": "ui_toast",
        "z": "5539a3ae08886664",
        "position": "bottom left",
        "displayTime": "3",
        "highlight": ".alert-box {   font-weight: bold; }",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "alert-box",
        "topic": "",
        "name": "Cảnh báo môi trường",
        "x": 1100,
        "y": 480,
        "wires": []
    },
    {
        "id": "de972a232de4ea25",
        "type": "function",
        "z": "5539a3ae08886664",
        "name": "temperature",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 120,
        "wires": [
            [
                "f5dccd70ebf88662",
                "8a9a417d2840173f"
            ]
        ]
    },
    {
        "id": "c238204410bd9eb0",
        "type": "function",
        "z": "5539a3ae08886664",
        "name": "humidity",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 240,
        "wires": [
            [
                "c093cb4392d0eca4",
                "c2a8aafcf9325c14"
            ]
        ]
    },
    {
        "id": "a65d9c4fa62dd401",
        "type": "function",
        "z": "5539a3ae08886664",
        "name": "alert",
        "func": "var p = msg.payload;\nif (p.tempAlertHigh)   { msg.payload = \"Nhiet do qua cao!\"; return msg; }\nif (p.tempAlertLow)    { msg.payload = \"Nhiet do qua thap!\";  return msg; }\nif (p.humiAlertHigh)   { msg.payload = \"Do am qua cao!\";  return msg; }\nif (p.humiAlertLow)    { msg.payload = \"Do am qua thap!\";  return msg; }\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 360,
        "wires": [
            [
                "34bd3519baf34694"
            ]
        ]
    },
    {
        "id": "4ee4d37797529885",
        "type": "function",
        "z": "5539a3ae08886664",
        "name": "ledState",
        "func": "if (msg.payload.ledState !== undefined) {\n    msg.payload = msg.payload.ledState;\n    return msg;\n}\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 500,
        "wires": [
            [
                "6832691fa48ba79a"
            ],
            []
        ]
    },
    {
        "id": "d2243c92df6d44db",
        "type": "ui_slider",
        "z": "5539a3ae08886664",
        "name": "Điều chỉnh độ sáng",
        "label": "Độ sáng (%)",
        "tooltip": "",
        "group": "573a23f040fa76d5",
        "order": 1,
        "width": "24",
        "height": "1",
        "passthru": false,
        "outs": "all",
        "topic": "",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 820,
        "y": 680,
        "wires": [
            [
                "44a8d26710bae09e"
            ]
        ]
    },
    {
        "id": "2a9a8088390c80af",
        "type": "function",
        "z": "5539a3ae08886664",
        "name": "Format LED State",
        "func": "// Switch gui true/false -> format + tra ve gia tri slider tuong ung\nvar ledOn = msg.payload === true || msg.payload === \"true\";\nvar toSlider = ledOn ? 100 : 0;\nreturn [\n    { payload: { ledState: ledOn } },   // [0] -> MQTT (lenh cho ESP)\n    { payload: toSlider }               // [1] -> slider (dong bo UI)\n];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 540,
        "wires": [
            [
                "33e3087dac4ac8d9"
            ],
            [
                "d2243c92df6d44db"
            ]
        ]
    },
    {
        "id": "44a8d26710bae09e",
        "type": "function",
        "z": "5539a3ae08886664",
        "name": "Set LED State Payload",
        "func": "// Slider gui gia tri 0-100 -> format + dong bo switch ve dung trang thai\nvar b = Number(msg.payload);\nreturn [\n    { payload: { brightness: b } },   // [0] -> MQTT (lenh cho ESP)\n    { payload: b > 0 }                // [1] -> switch (dong bo UI)\n];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 620,
        "wires": [
            [
                "slider2mqtt001"
            ],
            [
                "6832691fa48ba79a"
            ]
        ]
    },
    {
        "id": "876a754330f42975",
        "type": "ui_spacer",
        "z": "5539a3ae08886664",
        "name": "spacer",
        "group": "2ffa506c78a7ec92",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "f303501b193adc71",
        "type": "ui_spacer",
        "z": "5539a3ae08886664",
        "name": "spacer",
        "group": "a8dc557afaf2f17a",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "a079786fed604ecc",
        "type": "ui_spacer",
        "z": "5539a3ae08886664",
        "name": "spacer",
        "group": "573a23f040fa76d5",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "58bacfaea680b93e",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "b1c8f2cc5cd4416fb74b671a407dc0ff.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2ffa506c78a7ec92",
        "type": "ui_group",
        "name": "Nhiệt Độ",
        "tab": "916648b7d71b3b10",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a8dc557afaf2f17a",
        "type": "ui_group",
        "name": "Độ Ẩm",
        "tab": "916648b7d71b3b10",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "573a23f040fa76d5",
        "type": "ui_group",
        "name": "Đèn",
        "tab": "916648b7d71b3b10",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "916648b7d71b3b10",
        "type": "ui_tab",
        "name": "Trang Chủ",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fd6252757e44c2c8",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]